@(user: UserAccount)

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>

<script type="application/javascript">
        $(function() {
          $('select').material_select();
          var strUser = "@user.getUsername()";
          if (strUser.localeCompare("")) {
            var referrer = document.referrer.substr(document.referrer.lastIndexOf("/")+1);
            if (referrer=="login") {
              Materialize.toast('@user.getUsername()'+' @Messages("toast.isConnected")',4000,'',function() {});
            }
          } else {
            Materialize.toast('@Messages("toast.noOne") @Messages("toast.isConnected")',4000,'',function() {});
          }

          $('#addMissionAction').click(function() {
            console.log("AddMissionAction");
          });
        });
</script>